# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: 易网盟 #网站标题
subtitle: '一切都很美好' #网站副标题
description: ''
keywords:
author: 易网盟
timezone: 'Asia/Shanghai'
# language: en
#language: zh-Hans #theme: yelee，next
language: zh-CN  #theme: maupassant，landscape，Annie

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
# theme: landscape
# theme: maupassant
theme: butterfly
# theme: matery

# URL
## Set your site url here. For example, if you use GitHub Page, set url as 'https://username.github.io/project'
url: https://yiwangmeng.cn # 网址, 必须以 http[s]:// 开头
permalink: :title.html #链接发布格式
permalink_defaults:
pretty_urls:
  trailing_index: true # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: true # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source # 不要改
public_dir: public # 不要改
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render: [README.md]

# Writing
new_post_name: :year-:month-:title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  enable: false
  preprocess: true
  line_number: true
  tab_replace: ''

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date
archive_generator:
  per_page: 40  #值为0表示不分页，按需填写
  yearly: true  #是否按年生成归档
  monthly: false  #为了加快生成速度，按月归档就不要了
tag_generator:
  per_page: 40  #值为0表示不分页，按需填写
category_generator:
  per_page: 40  #值为0表示不分页，按需填写

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## updated_option supports 'mtime', 'date', 'empty'
updated_option: 'mtime'

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

# Deployment, 'hexo deploy' 命令发布用到此配置
## Docs: https://hexo.io/docs/one-command-deployment
deploy:
  type: ''

# 基于jQuery的本地搜索引擎，需要安装hexo-generator-search插件使用
##  path - file path. Default is search.xml .
##  field - the search scope you want to search, you can chose:
##  post (Default) - will only covers all the posts of your blog.
##  page - will only covers all the pages of your blog.
##  all - will covers all the posts and pages of your blog.
search:
  path: search.xml
  field: post
  format: html
  limit: 10000

# 在生成文章时生成中文拼音的永久链接，hexo-permalink-pinyin
# permalink_pinyin:
#   enable: true
#   separator: '-' # default: '-'
#   exclude: /ignore_post/   # Regex for which post should skip

# 图表，以主题具体实现为准，建议有公式的页面才加载
# https://github.com/webappdevelp/hexo-filter-mermaid-diagrams
# <script type="text/javascript" async
#   src="https://unpkg.com/mermaid@9.1.1/dist/mermaid.min.js">
# </script>
# mermaid: ## mermaid url https://github.com/knsv/mermaid
#   enable: true  # default true
#   version: "9.1.1" # default v7.1.2
#   options:  # find more api options from https://github.com/knsv/mermaid/blob/master/src/mermaidAPI.js
    #startOnload: true  // default true

# 数学公式，以主题具体实现为准，建议有公式的页面才加载
# https://github.com/hexojs/hexo-math
# <script type="text/javascript" async
#   src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
# </script>
# math:
#   engine: 'mathjax' # 'mathjax' or 'katex'
#   mathjax:
#     src: //cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML ##custom_mathjax_source
#     config:
      # MathJax config
